{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'pp/css/style.css' %}">
{% endblock %}

{% block title %} Production Details {% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">

        <div class="col-12">

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ pp.image.url }}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ pp.title }}</h5>

                            <p class="card-text">{{ pp.description|safe }}</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}

{% block js_files %}
<script src="{% static 'pp/js/script.js' %}"></script>

{% endblock %}
